body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #008B8B;
    color: #7FFFD4;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
    color: #FDD9B5;
  }
  
  main {
    background-color: #008B8B;
  }

  main > h2 {
    text-align: center;
    font-size: 25px;
    
  }
